PORT=3000
NODE_ENV=development

DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

CACHE_TTL=60
CACHE_MAX_ITEMS=100

JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

MAIL_HOST=
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=
MAIL_FROM=noreply@devboard.com

# R2_ACCOUNT_ID=
# R2_ACCESS_KEY_ID=
# R2_SECRET_ACCESS_KEY=
# R2_BUCKET_NAME=devboard
# R2_PUBLIC_URL=

STORAGE_ENDPOINT=http://localhost:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=your-minio-access-key
STORAGE_SECRET_KEY=your-minio-secret-key
STORAGE_BUCKET_NAME=devboard
STORAGE_PUBLIC_URL=http://localhost:9000/devboard
STORAGE_FORCE_PATH_STYLE=true

FRONTEND_URL=